<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">

<head>
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <section>
        <h1>Error Page</h1>
        <p>Application has encountered an error. Please contact support on ...</p>
    </section>
</body>

</html>